@charset "UTF-8";
@use '../../global' as *;
@use '../../base' as *;


/* =================================
// HEADER
================================= */
.gulp {
    color: peachpuff;
}

.gulp {
    font-weight: 700;
    font-size: 40px;
    color: mediumspringgreen;
}